@font-face {
  font-family: "firaGo-regular";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Regular.ttf);
}
@font-face {
  font-family: "firaGo-medium";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Medium.ttf);
}
@font-face {
  font-family: "firaGo-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-Light.ttf);
}
@font-face {
  font-family: "firaGo-extra-bold";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-ExtraBold.ttf);
}
@font-face {
  font-family: "firaGo-extra-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-ExtraLight.ttf);
}
@font-face {
  font-family: "firaGo-semiBold";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Roman/FiraGO-SemiBold.ttf);
}
@font-face {
  font-family: "firago-italic-light";
  src: url(../../assets/fonts/FiraGO_TTF_1001/Italic/FiraGO-LightItalic.ttf);
}
@font-face {
  font-family: "Nika";
  src: url(../../assets/fonts/Nika-Regular.ttf);
}
