$pc: 1280px;
$tablet: 740px;
$phone: 450px;
$mini_phone: 330px;

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin container($width, $height, $border-size, $font-color) {
  width: $width;
  height: $height;
  border: $border-size solid #000;
  color: $font-color;
}

@mixin text_font_style($color, $font-size, $font-weight, $family: FiraGo) {
  color: $color;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  font-family: $family;
  font-size: $fontSize;
}

@mixin main_container($max-width: 1440px) {
  max-width: $max-width;
}

@mixin responsive($media) {
  @if $media == phone {
    @media only screen and (max-width: $tablet) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $tablet) and (max-width: $pc) {
      @content;
    }
  } @else if $media == pc {
    @media only screen and (min-width: $pc) and (min-width: $pc) {
      @content;
    }
  } @else if $media == mini_phone {
    @media only screen and (max-width: $phone) {
      @content;
    }
  }
}
