//font weights
$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$semiBold-weight: 600;
$bold-weight: 700;
$extraBold-weifht: 800;

//colors
$font-color: #000;
$side-background: black;
$side-font: white;
$background: #fff;
$stars-color: red;
