// ! Download Story Size
.body {
  width: 1080px;
  height: 1920px;
  padding: 20px;
  position: relative;
  @media only screen and (max-width: 1200px) and (max-height: 1200px) {
    width: 1200px;
    height: 1200px;
  }
  .left-title {
    width: 70px;
    height: calc(100% - 70px);
    background-color: #000;
    display: flex;
    flex-direction: column;
    gap: 13px;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 106;
    img {
      width: 26px;
      height: 444px;
    }
    @media only screen and (max-width: 1200px) and (max-height: 1200px) {
      height: calc(100% - 69px);
      padding-top: 20px;
      gap: 23px;
      img {
        object-fit: cover;
        width: 30px;
        height: 523px;
      }
    }
  }
  .right-title {
    width: 70px;
    height: calc(100% - 70px);
    background-color: #000;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;
    gap: 16px;
    img {
      width: 26px;
      height: 444px;
    }
    @media only screen and (max-width: 1200px) and (max-height: 1200px) {
      height: calc(100% - 69px);
      top: 0;
      padding-top: 33px;
      padding-bottom: 33px;
      gap: 23px;
      img {
        object-fit: cover;
        width: 30px;
        height: 523px;
      }
    }
  }
  .top-title {
    width: calc(100% - 70px);
    height: 70px;
    padding-left: 25px;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    @media only screen and (max-width: 1200px) and (max-height: 1200px) {
      width: calc(100% - 69px);
      left: 0;
      top: 0;
      gap: 23px;
      padding-left: 33px;
      padding-right: 20px;
    }
    img {
      height: 29px;
      &:nth-child(2) {
        margin-left: 36px;
      }
      @media only screen and (max-width: 1200px) and (max-height: 1200px) {
        object-fit: cover;
        width: 526px;
        height: 30px;
        &:nth-child(2) {
          margin-left: 20px;
        }
      }
    }
  }
  .bottom-title {
    width: calc(100% - 70px);
    height: 70px;
    padding-right: 30px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 16px;
    z-index: 102;
    img {
      width: 482px;
      height: 29px;
    }
    @media only screen and (max-width: 1200px) and (max-height: 1200px) {
      width: calc(100% - 69px);
      right: 0;
      bottom: 0;
      gap: 23px;
      img {
        height: 33px;
        width: 526px;
      }
    }
  }
  .download-story {
    max-width: 1080px;
    width: 100%;
    height: 1620px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 1200px) and (max-height: 1200px) {
      width: 1200px;
      height: 1200px;
    }
    .logo-wrapper {
      display: grid;
      place-items: center;
      .logo {
        @media only screen and (max-width: 1200px) and (max-height: 1200px) {
          margin-top: 50px;
        }
        width: 630px;
        height: 172px;
        object-fit: cover;
      }
    }
    .text-wrapper {
      max-width: 710px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .header {
        font-family: "firaGO-light";
        font-size: 32px;
        font-style: italic;
        line-height: 29px;
        text-align: left;
        color: #000;
        opacity: 0.8;
        transition: all ease 0.5s;
      }
      .text {
        font-family: "Nika";
        font-size: 72px;
        font-weight: 400;
        line-height: 75px;
        text-align: center;
        margin-top: 36px;
        transition: 0.5s all ease;
        &::before {
          content: "*";
          font-family: "Nika";
          margin-right: 25px;
          color: red;
        }
        &::after {
          content: "*";
          font-family: "Nika";
          margin-left: 15px;
          color: red;
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media only screen and (max-width: 1200px) and (max-height: 1200px) {
        margin-bottom: 30px;
      }
      .header {
        padding: 10px;
        font-family: "firaGO-light";
        font-size: 32px;
        font-style: italic;
        line-height: 29px;
        text-align: left;
        color: #000;
        opacity: 0.8;
        transition: all ease 0.5s;
        border-bottom: 1px solid #898989;
      }
      .link {
        font-family: "firaGo-regular";
        font-size: 32px;
        color: #000;
        margin-top: 8px;
      }
      .qrcode {
        margin-top: 20px;
        img {
          width: 245px;
          height: 100px;
        }
      }
    }
  }
}
